* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(../img/background.jpg);
}

h1 {
	margin-left: 15%;
	margin-top: 2%;
	color:  white;
	text-shadow: 2px 3px 5px rgba(0,0,0,0.3);
}

.contenu {
	margin-top: 2%;
	margin-left: 15%;
	margin-bottom: 10px;
	width: 70%;
	padding: 10px;
	background: #444444;
	display: block;
	border-radius: 10px;
}

.text {
	display: inline-block;
	width: 100%;
	text-shadow: 2px 3px 5px rgba(0,0,0,0.3);
}

a {
	margin: 30px;
	padding: 20px;
	background: #ec7063;
	font-size: 20px;
	display: block;
	text-decoration: none;
	color: black;
	transition: background-color 0.5s, transform 0.5s; 
	border-radius: 10px;
}

ul {
	list-style: none;
}

a:hover {
	background:white;
	transform: translateX(5px); 
}


