* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	margin-left: 15%;
	margin-top: 2%;
}

.contenu {
	margin-top: 2%;
	margin-left: 15%;
	width: 70%;
	padding: 10px;
	background: #444444;
	display: block;
	border-radius: 10px;
}

.text {
	display: inline-block;
	width: 100%;
}

a {
	margin: 30px;
	padding: 20px;
	background: red;
	font-size: 20px;
	display: block;
	text-decoration: none;
	color: black;
	border-radius: 10px;
}

ul {
	list-style: none;
}

a:hover {
	background: white;
}

