* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	color: #eee;
	font-family: arial, sans-serif;
	font-size: 16px;
/*
	line-height: 22px; -> à mettre autre part (dans section && header?)_ crée des bugs d'affichage avec mon footer
*/
}

a {
	text-decoration: none;
	color: #000;
}

.wrapper {
	margin-left: 10%;
}

header {
	border-bottom: 1px solid #eee;
	width: 100%;
}

header li {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

header li a {
	display: block;
	padding: 20px;
}

header li:hover a {
	background-color: #ff1426;
	color: white;
}

header li:hover .sub-cinema {
	display: block;
}

.sub-cinema {
	display: none;
	position: absolute;
	background-color: #ff1426;
}

.sub-cinema li a {
	width: 120px;
}

.sub-cinema li:hover a {
	background-color: #fff;
	color: #ff1426;
}

#contenu {
	position: relative;
}

/* Bas de page */

footer {
	position:relative;
	bottom:0px;
	font-size: 12px;
	font-family: Verdana, sans-serif;
	background: #1C2129;
	width:100%;
}

.foot_img,img {
	margin-top:15px;
	margin-left:75px;
}

.foot_text {

	margin-top:25px;
	margin-bottom:40px;	
	margin-left:75px;
	margin-right:75px;
}

.foot_text, table{
	width: 90%;
	text-align: left;	
			
}

.foot_text,th {
	padding-bottom:4px;
	color:#FFFFFF;
}

.foot_text,td, a, a:visited {
	color:grey; 
}

.foot_text,td, a:hover, a:focus, a:active {
	color:#FFFD;
}
.foot_text, td {
	padding-bottom:1px;		
}

.foot_hr, hr{
  height: 1px;
  margin-left: 75px;
  margin-right: 75px;
  background-color:#2C3138;
  border: 0;
}

.droits {
	margin-top: 10px;
	height: 30px; 
	text-align: center;
	color: #BBBDBF;	 
}
